<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../scripts/settings-modal.js"></script>
    <link href="../styles/settings-modal-styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
    <link rel="stylesheet" href='../styles/home-styles.css'>
    <link href="https://fonts.googleapis.com/css?family=Share+Tech" rel="stylesheet">
    <link rel="stylesheet" href='../styles/global-styles.css'> 
    <title>Review JavaScript</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-logo">R-JS</div>
        <div class="navbar-home left-option">HOME</div>
        <div class="navbar-quizzes left-option">QUIZZES</div>
        <div class="navbar-resources left-option">JS RESOURCES</div>
        <div class="navbar-about left-option">ABOUT US</div>
        <div class="navbar-settings">
            <img role="button" draggable="false" ondragstart="return false;" aria-label="settings" id="settingsTrigger" alt="Settings Icon"
                class="settings-icon" src="../media/images/settings.svg" />
        </div>
    </div>
    <div class="home-main">
        <img class="home-image" src="../media/images/startup.jpg" />
        <div class="home-text-box">
            <div class="home-title">REVIEW-JS</div>
            <div class="home-tagline">TEST YOUR JS KNOWLEDGE</div>
            <div role="button" class="home-start-button unselectable">START QUIZ</div>
        </div>
    </div>
    <div class="example-template-nav">
            <p>Example Template Navigation</p>
            <div class="example-button-group">
                <a class="example-template-button" href="question-template.html">Next</a>
            </div>    
        </div>
</body>
</html>    