<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../scripts/settings-modal.js"></script>
    <link href="../styles/settings-modal-styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">   
</head>

<body>
    <div class="navbar">
        <div class="navbar-logo">R-JS</div>
        <div class="navbar-home left-option">HOME</div>
        <div class="navbar-quizzes left-option">QUIZZES</div>
        <div class="navbar-resources left-option">JS RESOURCES</div>
        <div class="navbar-about left-option">ABOUT US</div>
        <div class="navbar-settings">
            <img role="button" draggable="false" ondragstart="return false;" aria-label="settings" id="settingsTrigger" alt="Settings Icon" class="settings-icon" src="../media/images/settings.svg"/>
        </div>
    </div>
    


</body>

</html>
